body {
  margin: 0;
  align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: centre;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav .icon {
    display: none;
  }
  .navbar{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 17px;
    padding-top: 10px;
  }

.email{
    display: grid;
    grid-template-columns: 20% 20%;
    padding-left: 200px;
    gap: 20px;

}
.phone{
    display: grid;
    grid-template-columns: 20% 20%;
    padding-left: 40%;
    gap: 20px;
}

.topnav2 {
    overflow: hidden;
    background-color:white;
    padding-left: 30%;
  }
  
  .topnav2 a {
    float: cente;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-style: initial;
  }
  
  .topnav2 a:hover {
    background-color: #ddd;
    color: orange;
  }
  
  .topnav2 a.active {
    color : orange;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-style: initial;
  }
  .image1{
  padding-left: 200px;
  padding-right: 200px;
      -webkit-backdrop-filter: contrast(0.7); /* Safari 6.0 - 9.0 */
      
    filter: contrast(0.7);
  }
  .text{
    font-size: 20px;
    font-style: initial;
  }
  .button {
    background-color:orange; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 4px;
    font-style: initial;
    

  
  }
  .container1{
    display: grid;
    grid-template-columns: auto auto;
  }
 .image2{

  padding-left: 300px;
 }
 .image3{
  padding-right: 300px;
 }
 .logo{
  padding-left: 300px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  
 }
 .underlinetext{
  color: orange;
  font-size: 17px;
  text-align: center;
 }
 .heading1{
  text-align: center;
  font-size: 40px;
  font-weight:bolder;
  font-style: initial;
 }
  .images4{
    display: grid;
    grid-template-columns: auto auto auto auto;
    

  }
  .packaging{
    display: grid;
    padding-left: 200px;
   
  }
  .storage{
    padding-top: 30px;
    display: grid;
  
  }
  .transport{
    display: grid;
 
  }
  .insurance{
    display: grid;

  }
 .container2{
  display: grid;
  grid-template-columns: auto auto;
 }
 .text3{
  font-size: 60px;
  font-style: initial;
  padding-left: 200px;
 }
 .box{
  display: grid;
  grid-template-columns: auto auto;
  color: gray;
  font-size: 20px;
  padding-right: 200px;
 }
 .container3{

  display: grid;
  grid-template-columns: auto auto;
 }
 .heading3{
  padding-right: 200px;
 }
 .boximage{
  padding-left: 200px;
 }
.moving3{
  padding-left: 200px;
  padding-right: 200px;
}

.forms{
  display: grid;
  grid-template-columns: auto auto;
  color: #ddd;
  
}
 
.form {
  border: none;
  margin-left: 200px;
  background-color: rgb(39, 143, 161);
  margin-right: 200px;
}
.input {
  padding: 12px 12px;
  border-radius: 5px;
}
.names {
  display: grid;
  grid-template-columns: 40% 40%;
  padding: 12px 12px;
  border-radius: 5px;
}
#book{
  background-color: rgb(218, 153, 34);
  margin-left: 200px;
}
.requesttext{
  font-size: 60px;
  font-style: initial;
  padding-left: 200px;
  color: #ddd;
 }
 .images5{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 200px;
  padding-right: 200px;
  

}
.Christine{
  background-color: antiquewhite;

}
.rose{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20%;
  padding-left: 200px;
  padding-right: 200px;
}
.container8{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-right: 200px;
  gap: 10px;
  padding-left: 200px;
}
.button2{
  background-color:rgb(44, 40, 40);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 4px;
  font-style: initial;}
  .footer{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(240, 170, 40);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

  }
  .footer2{
    display: flex;
    gap: 60px;
    color: rgb(228, 221, 235);
    background-color:rgb(58, 51, 51);
   padding-left: 20%;
   font-size: 20px;
}
.Icons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding-top: 50px;
  padding-left: 30%;


}
.footend{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 100px;
}

@media screen and (min-width: 800px) {
  body {
    width: 100%;
    
  }
}

  
